.title {
    text-shadow: 1px 1px 2px black;
    letter-spacing: 0px;
    font-weight: 900;
    font-size: 3.85vw;
}
p {
    margin: 0;
}
a {
    color: white;
    text-shadow: 0px 0px 3px black;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: 1s;
}
a:hover {
    color: #D9ADFF;
    -webkit-transition: 1s;
}
#mid {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
body {
    background-color: #333;
    color: white;
    font-size: 1.3vw;
    text-shadow: 0px 0px 3px black;
    font-family: 'Roboto', sans-serif;
    background: url("bg.gif") center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
